configuration {
modi: "combi,window,drun,ssh";
combi-modi: "window,drun";

show-icons: true;
drun-display-format: "{icon} {name}";
window-format: "{w} | {c} | {t}";

click-to-exit: true;

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "catppuccin-default"
